body {
  text-align: center;
  background-color: #4c478f;
}

h1 {
  font-size: 5rem;
  color: #f8f8f8;
  font-family: cursive;
  text-shadow: 3px 0 #707070;
}

.w {
  background-image: url("/music/images/tom1.png");
}

.a {
  background-image: url("/music/images/tom2.png");
}

.s {
  background-image: url("/music/images/tom3.png");
}

.d {
  background-image: url("/music/images/tom4.png");
}

.j {
  background-image: url("/music/images/snare.png");
}

.k {
  background-image: url("/music/images/crash.png");
}

.l {
  background-image: url("/music/images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #172661;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
